<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Flask test</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBctlDQlm8wtGZFQdKxZDd47yHnit8nZww&libraries=places"></script>
    <script src="../static/jquery.geocomplete.js"></script>
</head>
<body>

{% for message in get_flashed_messages() %}
<div class="flash">{{ message }}</div>
{% endfor %}

<div class="metanav">
    <a href="{{ url_for('index') }}">Home</a> |
    {% if not session.logged_in %}
        <a href="{{ url_for('login') }}">Login</a> |
        <a href="{{ url_for('register') }}">Register</a>
    {% else %}
        Logged in as {{ session.this_user.first_name }} <a href="{{ url_for('logout') }}">Logout</a>
    {% endif %}
</div>

<div id="main_content">
    {% block body %}{% endblock %}
</div>

</body>
</html>