{% extends "base.html" %}

{% block body %}
<h2>{{listing.title}}</h2>

{% if map %}
	{{googlemap("simple-map", latitude, longitude, markers=[(latitude, longitude)])}}
{% else %}
	<div>Listing address unknown.</div>
	{{googlemap("simple-map", 0, 0)}}
{% endif %}

<div>{{ listing.description }} </div>
<div>Address: {{ listing.address }} </div>
<div>{{ listing.sq_ft }} Square Foot</div>
<div>${{ listing.monthly_rent }} Monthly Rent</div>
<div>{{ listing.num_rooms }} Rooms</div>
{% if listing.is_available %}
	<div class="green">Available now :)</div>
{% else %}
	<div class="red">Occupied</div>
{% endif %}

{% endblock %}