{% extends "base.html" %}

{% block body %}
<h2>Create a new listing</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form class="register_form" action="{{ url_for('listings') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <dl>
        <dt>Name: <input type="text" name="name">
        <dt>Description: <textarea type="text" name="description"></textarea>
        <dt>Number of Rooms: <input type="number" name="num_rooms">
        <dt>Square Footage: <input type="number" name="sq_ft">
       	<dt>Rent: $<input type="number" name="monthly_rent">
	 	<div>
			<input type="checkbox" name="is_available" value="true">
		 	<label for="is_available">Available now</label>
		</div>
		<dt>Address: <input id="address_field" type="text" name="address">
		<br/>
        <input type="submit" value="Sign Up">
    </dl>
</form>

<script>
	$("#address_field").geocomplete();
	$("#address_field").onChange(function(){
		$("#address_field").trigger("geocode");
	});
</script>

{% endblock %}
