{% extends "base.html" %}

{% block body %}
<h2>Create a new listing</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form class="register_form" action="{{ url_for('listings') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <dl>
        <dt>Name: <input required type="text" name="name">
        <dt>Description: <textarea type="text" name="description"></textarea>
        <dt>Number of Rooms: <input required type="number" name="num_rooms">
        <dt>Square Footage: <input required type="number" name="sq_ft">
		<dt>Rent: $<input required type="number" name="monthly_rent">
		<div>
			<input type="checkbox" name="is_available" value="true">
		 	<label for="is_available">Available now</label>
		</div>
		<dt>Address: <input required id="address_field" type="text" name="address">
		<br/>
        <input type="submit" value="Create Listing">
    </dl>
</form>

<script>
	$("#address_field").geocomplete();
</script>

{% endblock %}
