{% extends "base.html" %}

{% block body %}

<h2>Register</h2>
{% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<form class="register_form" action="{{ url_for('register') }}" method="post">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
    <dl>
        <dt>Email: <input type="text" name="email">
        <dt>Password: <input type="password" name="password">
        <dt>
        <select name="role">
            <option selected="" value=0>Tenant</option>
            <option value=1>Realtor</option>
            <option value=2>Admin</option>
        </select>
        <dt><input class="signup_button" type="submit" value="Sign Up">
    </dl>
</form>

{% endblock %}