{% extends "base.html" %}

{% block body %}
<h2>Users</h2>

<ul>
	{% for user in users %}
		<li>{{ user.email }}
		{% if user.role == 0 %}
			This user is a tenant.
		{% elif user.role == 1 %}
			This user is a realtor.
		{% elif user.role == 2 %}
			This user is an admin.
		{% endif %}
		<button type="button" id="deleteUser" data-userid={{user.id|string}}>Delete User</button>
		</li>
	{% endfor %}
</ul>

<script type="text/javascript">
	$(function(){
		$('#deleteUser').click(function(e){
			$.ajax({
				url: 'api/v1/users/' + e.target.dataset.userid,
				data: {"_csrf_token": "{{ csrf_token() }}"},
				type: 'DELETE',
				success: function(response){
					alert(response);
					document.location.reload() 
				},
				error: function(error){
					console.log(error);
				}
			});
		});
	});
</script>

{% endblock %}