{% extends "base.html" %}

{% block body %}
<h2>Users</h2>

<ul>
	{% for user in users %}
		<li>{{ user.email }}
		{% if user.role == 0 %}
			This user is a tenant.
		{% elif user.role == 1 %}
			This user is a realtor.
		{% elif user.role == 2 %}
			This user is an admin.
		{% endif %}
		<form action="/users/edit/{{user.id|string}}" class="inline">
			<button type="submit">Edit User</button>
		</form>
		<form action="/users/{{user.id|string}}" class="inline">
			<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}">
			<input type="hidden" name="_method" value="DELETE">
			<button type="submit">Delete User</button>
		</form>
		</li>
	{% endfor %}
</ul>

{% endblock %}